# SLB
*sdf
*suo
*bsc
*exe
*pdb
src/*/Debug
src/*/moc*cpp
bin/config/configuration.xml
bin/BinFiles
bin/OutputFiles
bin/OutputFilesLDA
bin/logs
bin/matlab/*mat
bin/matlab/*bak
bin/matlab/new
bin/matlab/old
bin/matlab/test

