*aps
*bsc
*exe
*pdb
*sdf
*suo
.vscode
untracked

src/*/moc*cpp
src/*/Debug

!bin/KinectHandTracking.exe

bin/config/configuration.xml
bin/logs
bin/BinFiles
bin/OutputFiles
bin/OutputFilesLDA

bin/matlab/*avs
bin/matlab/*bak
bin/matlab/*mat
bin/matlab/test
bin/matlab/ws

bin/gUSBamp.dll
res/dll/gUSBamp.dll
res/gUSBampCAPI

bin/Tobii.EyeX.Client.dll
res/dll/Tobii.EyeX.Client.dll
res/tobii

